<div class="header my-5">
  <h2><%= @list.name %></h2>
</div>


<ul>
 <% @list.movies.each do | movie | %></h3>
  <li> <%= movie.title %>
   <%= image_tag movie.poster_url, width: 200 %>
       </li>
  <% movie.bookmarks.each do|bookmark| %>
  <li> <%= bookmark.comment %></li>
  <li> <%= bookmark.movie.overview %></li>
  <%=link_to "delete bookmark", bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
  <%end %>
<%end %>
</ul>

<h3 class="btn btn-secondary"><%= link_to "All lists", lists_path %></h3>
<h3 class="btn btn-primary"><%= link_to "Create a bookmark", new_list_bookmark_path(@list) %></h3>
